.list-view {
 ul {
     list-style: none;
     padding: 0;
     li {
         a {
            .mat-card {
                width: 100%;
                margin-bottom: 10px;
                display: flex;
                flex-wrap: nowrap;
                padding: 0 16px 0 16px;
                .product-image {
                    position: relative;
                    app-favourite-button {
                        position: absolute;
                        right: -5px;
                        top: 10px;
                    }
                    .mat-card-image {
                        flex: 1;
                        margin-bottom: -5px;
                    }
                }
                .mat-card-content {
                    flex: 2;
                    padding: 20px 30px;
                    .contents {
                        position: relative;
                        height: 100%;
                        p {
                            display: flex;
                            align-items: center;
                        }
                        .price {
                            display: flex;
                            position: absolute;
                            bottom: 20px;
                            div {
                                margin-right: 15px;
                            }
                            .amount {
                                font-size: 25px;
                                font-weight: 500;
                            }
                            .old-price {
                                color: #ccc;
                                font-size: 15px;
                            }
                            .saving {
                                color: palevioletred;
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
         }
     }
 }
}