<section class="list-view">
  <ul>
    <li *ngFor="let product of products">
      <a>
        <mat-card>
          <div class="product-image">
            <app-favourite-button [selected]='product.isFav' (selectedChange)='selectedChange($event)'>
            </app-favourite-button>
            <img mat-card-image [src]="product.picture">
          </div>
          <mat-card-content>
            <div class="contents">
              <h2>{{product.name}}</h2>
              <p>{{product.size}}
                <app-star-ratings [stars]='product.rating'></app-star-ratings>
              </p>
              <div class="price">
                <div class="amount">
                  {{product.price}}
                </div>
                <div class="old-price" *ngIf='product.oldPrice'>
                  <s>{{product.oldPrice}}</s>
                </div>
                <div class="saving" *ngIf='product.savings'>
                  You save {{product.savings}}
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </a>
    </li>
  </ul>
</section>