<section class="product-panel">
    <div class="header">
        <h2 class="title">Products</h2>
    </div>
    <div class="sorter">
        <mat-form-field appearance="fill">
            <mat-label>Sort by</mat-label>
            <mat-select (selectionChange)="onSort($event.value)">
                <mat-option *ngFor="let sort of sortingList" [value]="sort.value">
                    {{sort.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <mat-tab-group>
        <mat-tab label="list">
            <ng-template mat-tab-label>
                <mat-icon>view_list</mat-icon>
                <span>&nbsp;List</span>
            </ng-template>
            <app-list-view [products]='(products$ | async) || []' [sortBy]='sortBy' [isDesc]='isDesc'></app-list-view>
        </mat-tab>

        <mat-tab label="grid">
            <ng-template mat-tab-label>
                <mat-icon>view_comfy</mat-icon>
                <span>&nbsp;Grid</span>
            </ng-template>
            <app-grid-view [products]='(products$ | async) || []' [sortBy]='sortBy' [isDesc]='isDesc'></app-grid-view>
        </mat-tab>
    </mat-tab-group>
    <div *ngIf='errorMsg'>
        <h6>An Error Occured</h6>
        <p>
            {{errorMsg}}
        </p>
    </div>
    <div class="spinner-container" *ngIf="loading">
        <mat-spinner [style.display]="loading ? 'block' : 'none'"></mat-spinner>
    </div>

</section>