.button-row {
    display: flex;
    flex-wrap: nowrap;
}

.spinner-container mat-spinner {
    margin: 95px auto 0 auto;
}

.sorter {
    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: flex-end;
}