<section fxLayout="column" fxFlexAlign="stretch" class="hom">
    <div fxFlexAlign="center">
        <p>KPS FE Candidate TEST - Angular</p>
    </div>

    <p>Comments / Improvements:</p>

    <mat-tab-group>
        <mat-tab label="General">
            <ul>
                <li>This is general comments</li>
            </ul>
        </mat-tab>
        <mat-tab label="Improvements">
            <ul>
                <li>Remove console.log for the final delivery</li>
                <li>Write more unit tests to have 100% code coverage</li>
            </ul>
        </mat-tab>
        <mat-tab label="Testing">
            <ul>
                <li>This is testing comments</li>
            </ul>
        </mat-tab>
    </mat-tab-group>
</section>